analysis:
  n_cores: 1
  preload_attempts: 250
fits:
  flip_for_ds9: true
grid:
  remove_projected_centre: false
inversion:
  check_reconstruction: true        # If True, the inversion's reconstruction is checked to ensure the solution of a meshs's mapper is not an invalid solution where the values are all the same.
  reconstruction_vmax_factor: 0.5   # Plots of an Inversion's reconstruction use the reconstructed data's bright value multiplied by this factor.
hpc:
  hpc_mode: false
  iterations_per_update: 5000
adapt:
  adapt_minimum_percent: 0.01
  adapt_noise_limit: 100000000.0
  stochastic_outputs: true
model:
  ignore_prior_limits: true
numba:
  cache: false
  nopython: true
  parallel: false
  use_numba: true
output:
  force_pickle_overwrite: true
  force_visualize_overwrite: true
  info_whitespace_length: 80
  log_file: output.log
  log_level: INFO
  log_to_file: false
  model_results_decimal_places: 3
  remove_files: false
  samples_to_csv: true
pixelization:
  voronoi_nn_max_interpolation_neighbors: 100
profiling:
  parallel_profile: false
  repeats: 1
  should_profile: false
structures:
  use_dataset_grids: true
test:
  check_figure_of_merit_sanity: true
  check_preloads: True
  lh_timeout_seconds:               # If a float is input, the log_likelihood_function call is timed out after this many seconds, to diagnose infinite loops. Default is None, meaning no timeout.
  preloads_check_threshold: 1.0     # If the figure of merit of a fit with and without preloads is greater than this threshold, the check preload test fails and an exception raised for a model-fit. 
  disable_positions_lh_inversion_check: true
  parallel_profile: false
